<%- include('./layout/header.ejs') %>
<div class="about">
  <h1>About Us</h1>
</div>
<div class="about-us">
 <p>We provide comprehensive range of healthcare services in Bhandup and people across Mumbai through our two hospital campuses, a large network of community programs services.</p>
<p>Working with our patients and their families helps achieve the best health outcomes. We encourage you to get involved in planning and making decisions about your care.</p>
<p>Being responsive and making good, transparent decisions are key principles of Lotus Multispeciality Hospital's process.</p>

</p>

</div>

    
<%- include('./layout/footer.ejs') %>