<%- include('./layout/header.ejs') %>
<div class="booked">
    <h1>Your appointment was booked!</h1>
    <h3>Your timings will emailed to you in few moments</h3>
    <a  href="/" class="btn btn-success">Go back to Home page</a>
</div>

    
<%- include('./layout/footer.ejs') %>