<%- include('./layout/header.ejs') %>
<div class="career">
  <h1>Career options at Lotus:</h1>
  <button type="button" class="btn btn-light"><strong>Apply Now</strong></button>
</div>
<div class="career-option">
 <p>Do you want to be part of a dedicated and innovative team committed to improving the lives of our patients?</p>
<p>Lotus Hospital is an equal opportunity employer that welcomes cultural diversity.</p>
</div>

<div class="container p-5">
<div class="card-deck">
    <div class="card">
      <img src="https://media4.picsearch.com/is?pcZxDFloaHxxbmD5778KeWoBJWzLnMUyhAG1Zl5pMMc&height=144" class="card-img-top" alt="...">
      <div class="card-body bg-dark text-light">
        <h5 class="card-title">Medical Career</h5>
        <p class="card-text">At Lotus Hospital, we not only offer excellent career opportunities, but also an extensive array of education, training, mentoring and professional development programs.</p>
      </div>
    </div>

    <div class="card">
      <img src="https://media3.picsearch.com/is?on4TCFuepcTBjh9Rmgo6nsQDvOwN0r1E4_u8F45kvyM&height=227" class="card-img-top" alt="...">
      <div class="card-body bg-dark text-light">
        <h5 class="card-title">Rewards and Recognition</h5>
        <p class="card-text">Lotus Hospital acknowledges the important role we all play in a team that achieves extraordinary results; therefore, regular feedback is an important characteristic of the way we work as well as recognising excellence and outstanding achievement through our annual rewards programs.</p>  
      </div>
    </div>
    <div class="card">
        <img src="https://media4.picsearch.com/is?eN1ZRz7bJEefv8CmQKuI16FlbjIEoD3qGbmDO-XzkcQ&height=227" class="card-img-top" alt="...">
        <div class="card-body bg-dark text-light">
          <h5 class="card-title">Nursing</h5>
          <p class="card-text">We encourage lifelong learning and professional development through dynamic learning environments where nurses are supported in achieving their learning and career goals.</p>
        </div>
      </div>
  </div>
</div>
<div class="job">
    <h2>In search of a Job?</h2>
    <button type="button" class="btn btn-danger">Apply Now!</button>
</div>
<%- include('./layout/footer.ejs') %>