<%- include('./layout/header.ejs') %>

<div class="Contact">
  <p><strong>Contact Us</strong></p>
</div>
<div class="us">
<img src="https://media2.picsearch.com/is?y_LMItMiuMS3PIwf9fIjlEyciP_z-KdPPLScNQ_a25A&height=255" width="40" height="40" alt="" loading="lazy"
<h2><strong>Lotus Hospital</strong></h2>
<p>Datta Mandir Rd, Bhandup west, Mumbai- 400078</p>
<p>022-183604</p>

<img src="https://media2.picsearch.com/is?y_LMItMiuMS3PIwf9fIjlEyciP_z-KdPPLScNQ_a25A&height=255" width="40" height="40" alt="" loading="lazy"
<h2><strong>Yash Hospital</strong></h2>
<p>Village Rd, Bhandup west, Mumbai- 400078</p>
<p>022-183604</p>

<h3><strong>Postal address:</strong></h3>
<h4>Lotus Hospital</h4>
<a>Datta Mandir Rd, Bhandup west, Mumbai- 400078</a>
</div>

<div class="con">
  <h3><strong>To check the parking availability:</strong></h3>
  <a href="" class="btn btn-primary">View slots</a>
</div>

<div class="access">
<p>Find out contact details, access campus maps and see Google maps for each hospital. In an emergency or life-threatening situation, always call 911.</p>
</div>


    
<%- include('./layout/footer.ejs') %>