<%- include('./layout/header.ejs') %>

<div class="covid">
    <p>COVID-19: What you need to know</p>
    <a href="/Information" class="btn btn-light">Information</a>
</div>
<div class="container">
    <div class="covid-info">
    <p>Lotus Health has extensive processes in place to safely assess and manage any patients with viral infections, including novel coronavirus (COVID-19).</p>

<p>COVID-19 is a new strain of coronavirus not been previously identified in people and has respiratory symptoms like a sore throat, runny nose, cough or shortness of breath.</p>

<p>As part of our response to managing the coronavirus outbreak, we have reduced our visiting hours and introduced a daily limit on visitors.</p>
</div>
</div>
<%- include('./layout/footer.ejs') %>