<%- include('./layout/header.ejs') %>
<div class="new">
  <h1>Daily updates:<h1></h1>
</div>
<div class="updates">
    <h3>Covid-19 Live updates</h3>
    <p>Coronavirus cases in India crossed 4.90 lakh mark today even as 407 COVID 19 related deaths and a record single-day spike of 17,296 new cases were reported in the last 24 hours. The data shows that there is a surge in the number of coronavirus cases in big cities.
        In India, there are 1,89,463 coronavirus active cases, so far 2,85,636 COVID 19 patients have been cured or discharged, 15301 people have died due to the highly contagious cases, one has been migrated. India has recorded 4,90,401 coronavirus cases, as per details provided by the Ministry of Health and Family Welfare.
        The number of infections of novel coronavirus (COVID-19) disease crossed 9.5 million globally on Friday, with the United States reporting the highest number (2,418,570), followed by Brazil (1,228,114), Russia (613,148), and India (473,105) on the fourth position.
        Globally, the death toll touched 488,740, with the recovery at 488,740. The US reported the highest number of deaths in the world, while Brazil reported the highest number of recoveries. India stood at the fourth position when it came to the total number of recovered people, with the number at 271,697.
        
        </p>
    
</div>
    
<%- include('./layout/footer.ejs') %>