<%- include('./layout/header.ejs') %>
<div class="donate">
   <h1>Donate:</h1>
   <button type="button" class="btn btn-light"><strong>Volunteer work</strong></button>
</div>
<div class="donate-now">
<p>Lets bring a smile on these kid's faces. Lets help them fight Cancer or any other disease.</p>
<p>This money will be going to the NGO's where these kids are diagnosed</p>
<p>Every small contribution of yours counts. Lets spread happiness.</p>
<p>We are incredibly appreciative of your support and welcome your ideas and suggestions on fundraising or supporting our frontline healthcare workers during this time. </p>
<p>You can also do volunteer work and help us in fund raising.</p>
</div>
<div class="container p-3">
    <div class="card-deck">
        <div class="card bg-dark">
          <img src="https://media2.picsearch.com/is?89YVEvNuvDXCMhpQaHAudyQPGPM5sLCMfRVosLHOwRE&height=227" class="card-img-top" alt="...">
          <div class="card-body">
           <a href="" class="btn btn-danger">Leave your gift</a>
          </div>
        </div>
        <div class="card bg-dark">
          <img src="https://media5.picsearch.com/is?m8Qa-4AFgU2tsYVRq3mVtTfGxIvMi1oq2QCr5VsuQPg&height=227" class="card-img-top" alt="...">
          <div class="card-body">
            <a href="" class="btn btn-danger"><strong>In celebration giving</strong></a>
          </div>
        </div>
        <div class="card bg-dark">
          <img src="https://media5.picsearch.com/is?IONr3Q5CR9HC3J56JOYs79dntnHAIPKvG2qQamVuf5U&height=227" class="card-img-top" alt="...">
          <div class="card-body">
            <a href="" class="btn btn-danger"><strong>donate</strong></a>
          </div>
        </div>
      </div>
</div>

    
<%- include('./layout/footer.ejs') %>