<%- include('./layout/header.ejs') %>
<div class="events">
    <h1>Events:</h1>
</div>
<div class="container p-5">
<h2><strong>Dream Run:</strong></h2>
<h5>We conduct 5km marathon on a yearly basis. The amount collected due to this marathon is donated to NGO's.</h5>
<h2><strong>Environment day:</strong></h2>
<h5>Every year we innovate some natural product which can be replaced by something that consumes a lot of energy or which leads to causing pollution to reduce the global warming</h5>
<div class="card-deck p-5">
    <div class="card">
      <img src="https://media5.picsearch.com/is?yykGlAskaaGAQZFs4ckRPmDY-lZwlfPkwzqrS3Bb49c&height=204" class="card-img-top" alt="...">
      <div class="card-body bg-dark text-light">
        <h4 class="card-title"><strong>Dream Run pictures</strong></h4>
        <p>To view the pictures,</p>
        <button type="button" class="btn btn-light"><strong>Click Here</strong></button>
      </div>
    </div>
    <div class="card">
      <img src="https://media2.picsearch.com/is?jWj3zE-1PUVhLqTQYr1G3RkfkfBks6o-n9_aoVXBIi4&height=215" class="card-img-top" alt="...">
      <div class="card-body bg-dark text-light">
        <h4 class="card-title">Environment day pictures</h4>
        <p>To view the pictures,</p>
        <button type="button" class="btn btn-light"><strong>Click Here</strong></button>
      </div>
    </div>
</div>

    
<%- include('./layout/footer.ejs') %>