<%- include('./layout/header.ejs') %>

<div class="covid">
    <p>COVID-19: Information</p>
</div>
<div class="precautions">
<p><strong>What is coronavirus disease (COVID-19)?</strong></p>
<p>Coronaviruses are a large family of viruses that cause illness ranging from the common cold to more severe diseases such as Middle Eastern Respiratory Syndrome (MERS-CoV) and Severe Acute Respiratory Syndrome (SARS-CoV).
This novel coronavirus, known as COVID-19, is a new strain that has not been previously identified in humans.</p>

<p><strong>What are the symptoms of coronavirus disease?</strong></p>   
<p>People with COVID-19 are most likely to have a fever, and may have respiratory symptoms like a sore throat, runny nose, cough or shortness of breath.
Not all people with the disease will have a fever. Symptoms are similar to other illnesses that are much more common such as a cold or flu.</p>

<p><strong>How does coronavirus disease spread?</strong></p>
<p>Health authorities around the world believe the virus is spread through close contact with people carrying the virus.
There is evidence that people are infectious before they begin to show symptoms of the virus, however they are likely to be most infectious for the first few days of illness.</p>

<div class="risk">
<p><strong>REDUCING RISK</strong></p>
<img src="https://image.shutterstock.com/image-vector/coronavirus-preventive-signs-basic-protective-600w-1675249948.jpg">
</div>

</div>
<%- include('./layout/footer.ejs') %>