<%- include('./layout/header.ejs') %>

<div  class="doc">
    <p><strong>We offer a comprehensive range of services to our patients across our two hospitals, as well as in the community.We also provide various specialisation services listed below:</strong></p>
    <p>
       <ul>
          <li>Coccydynia</li>
          <li>Child Specialist</li> 
          <li> Dengue Fever Treatment</li>
          <li>Immunisation/Vaccination</li>
          <li> Viral Fever Treatment</li>
          <li>Treatment For Diseases In Pregnancy </li>
          <li> Tumor Treatment Treatment For Bone Fracture</li>
          <li> General Pediatrics</li>
          <li>Fever Treatment</li>
          <li>Knee Care</li>
          <li>Paediatric Healthcare</li> 
          <li>Adolescent Medicine</li>
          <li>Cough Treatment</li>
          <li>Pediatric Treatment</li>
          <li>Cold Treatment</li>
          <li>Orthopedic Surgery</li>
          <li>Childhood infections treatment</li> 
          <li>Consultation Preventive Medicine</li>
          <li>Treatment For Obstetrics Problems</li>
          <li>Pediatric consultation and Treatment</li> 
          <li>Hip And Ankle Or Knee Injury</li>
       </ul>
    </p>
    </div>
      

    
<%- include('./layout/footer.ejs') %>