<%- include('./layout/header.ejs') %>

<div class="card bg-light text-black">
    <img src="https://media4.picsearch.com/is?GQC9X3ukJna1nAqcBTYE6FtnKAav6R6DN91AQIxOcGk&height=226" class="card-img w-50 h-50" height="50%" alt="...">
    <div class="card-img-overlay">
     <p>Specialisation services</p>
     <a href="/services" class="btn btn-dark"><strong>Services</strong></a>
    </div>
  </div>

<div class="prov">
   <a> Providing you the finest service possible.</a>
</div>


<div class="clinic p-3">
   <a><strong>Dr. Uday kapshikar M.B., D.C.H. (Mum.)</strong></a>
   <p >Child Specalist</p>
   <a><strong>Dr. Aishwarya Kapshikar B.A.M.S. </strong></a>
   <p>Ayurvedic medicine.</p>
   <a><strong>Dr. Mamta</strong></a>
   <p>Dermatologist</p>
   <a><strong>Dr. Abhay Antarkar</strong></a>
   <p>Dentist</p>
   <a><strong>Dr. Thorat</strong></a>
</div>



<%- include('./layout/footer.ejs') %>