<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

<div class="call">
   <img src="https://media4.picsearch.com/is?v9b5ggBZWAXcvI_lM-ucyPK-0nEEwQW3dLMWJmnjqFU&height=256" width="60" height="60" alt="" loading="lazy">
   <strong>In the case of an emergency, call 911!</strong>
</div>

<div class="cont">
   <h3><strong>Lotus Hospital</strong></h3>
   <p>Datta Mandir Rd, Bhandup west, Mumbai</p>
   <p>022-183604</p>
</div>
<div class="yash">
   <h3><strong>Yash Hospital</strong></h3>
   <p>Village Rd, Bhandup west, Mumbai</p>
   <p>022-135884</p>
</div>
<div class="sayings">
   We acknowledge the people of the any Nation, the traditional custodians and pay our respects to their culture and their Elders past, present and emerging. We welcome all cultures, nationalities and religions. Being inclusive and providing equitable healthcare is our commitment.
</div>
<div class="follow">
   <h3>Follow us on:</h3>
   <img src="https://media5.picsearch.com/is?mBU8afr-jnI9xXUfdPbhPSVLaNGL6m_qLa1Ob1AfzKw&height=341" width="40" height="60" alt="" loading="lazy">
   <img src="https://media4.picsearch.com/is?yMoWKStgtbaJWFbueGiJFLWXW-FcsIK4fykKdvHgOk4&height=341" width="40" height="60" alt="" loading="lazy">
   <img src="https://media1.picsearch.com/is?uW_7LL7fz8lvI5Y1MJMnOXWfT1mKsDQ0w_rcAhH50Ms&height=341" width="40" height="60" alt="" loading="lazy">
</div>

</body>
</html>